/* static/css/main.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

a {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.about {
    background-color: #4CAF50;
    color: white;
}

.about:hover {
    background-color: #45a049;
}

.login {
    background-color: #008CBA;
    color: white;
}

.login:hover {
    background-color: #007bb5;
}

/* static/css/main.css */

/* Стили для формы */
form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background: #008CBA;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #007bb5;
}
/* static/css/main.css */

/* Общий стиль для сообщений */
/* Общий стиль для сообщений */
h2.flash {
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto; /* Центрируем по горизонтали */
    max-width: 500px; /* Ограничиваем максимальную ширину */
    width: 80%; /* Устанавливаем ширину в 80% от доступной ширины экрана */
    text-align: center; /* Выравнивание текста по центру */
}

/* Стиль для успешных сообщений */
.flash.success {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #388E3C;
}

/* Стиль для сообщений об ошибке */
.flash.error {
    background-color: #f44336;
    color: white;
    border: 1px solid #D32F2F;
}


/* Стили для поля комментария */
textarea {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none; /* Запрещаем изменение размера */
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f9f9f9;
}

/* Стиль для текстовых полей, чтобы они были схожи с инпутами */
textarea:focus {
    border-color: #008CBA;
    outline: none;
}
/* Стили для описания Flask */
.flask-description {
    text-align: left; /* Левое выравнивание текста */
    max-width: 800px; /* Ограничение ширины блока */
    margin: 20px auto; /* Центрируем по горизонтали */
    padding: 20px;
}

/* Стили для изображений Flask */
.flask-images {
    text-align: center; /* Центрируем изображения */
    margin: 20px 0;
}

.flask-image {
    max-width: 300px; /* Ограничение максимальной ширины для изображений */
    margin: 10px;
    height: auto; /* Сохраняем пропорции изображения */
}
/* Стили для страницы ошибки 404 */
.error-container {
    text-align: center;
    padding: 50px;
    background-color: #f8f8f8;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.error-title {
    font-size: 72px;
    font-weight: bold;
    color: #ff6f61; /* Цвет для заголовка */
}

.error-message {
    font-size: 36px;
    color: #333;
    margin-top: 20px;
}

.error-description {
    font-size: 18px;
    color: #777;
    margin-top: 10px;
}

.error-button {
    display: inline-block;
    padding: 12px 30px;
    margin-top: 30px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.error-button:hover {
    background-color: #45a049;
}
