{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    {% for cat, msg in get_flashed_messages(True) %}
        <h2 class="flash {{cat}}">{{ msg }}</h2>
    {% endfor %}

    <form method="post" action="/about">
        <p><label>Имя пользователя:</label><input type="text" name="username" value=""/> <br>
        <p><label>Email пользователя:</label><input type="text" name="email" value=""> <br>
        <input type="submit" value="Отправить">
    </form>

    <!-- Кнопка для выхода на главную -->
    <a href="{{ url_for('index') }}" class="button">На главную</a>

{% endblock %}
